.head {text-align:center;}

body{width:900px;height:800px;border: 1px solid black;}

.t1 {width:400px;height:200px;}

.t2 {background:green;}

.t3 {background:yellow;}

.t4 {background:blue;}

.t5 {background:grey;}


